<h2>{{user.userName}} ({{user.email}}) History</h2>

<table class="table">
    <thead>
        <tr>
            <th>Login Date/Time</th>
            <th>Client Information</th>
        </tr>
    </thead>
    <tbody>
        {{#each user.loginHistory}}
            <tr>
                <td>{{this.dateTime}}</td>
                <td>{{this.userAgent}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
